<div class = "special-offer">
    <h1>FAST AND AFFORDABLE</h1>
    <div class="offer-details">
        <h2><i>Honda Accord 2019</i></h2>
        <h3>Rs.3000/ Day</h3>
        <a routerLink ="/vehicles/2323"><button class = "send-button">View</button></a><br>
    </div>
    <img src="../../assets/images/honda.png" width="650px" height="400px"/>
</div>
<div class = "main-content">
    <div class="about clearfix">
        <h1 class="aboutUs" id="aboutUs"> About us</h1>
        <p>With over 50 years of experience under our belt and are now run by the third generation of the West family,
             Wests provide car, van and mini bus rental to our local areas such as Rainham, Romford, Thurrock, Dagenham, Barking,
              Ilford, Hornchurch, Upminster, South Ockendon, Purfleet, Dartford,
             Grays, Orsett, Aveley, Brentwood and throughout Essex, London and Essex.
        </p>
        <p>
            Our rental customers come from all round our local area, throughout East London and Essex - Rainham, Aveley,
             Barking, Bulphan, Dagenham, Dartford, Goodmayes, Grays, Harold Wood, Hornchurch, Ilford, Lakeside, Ockendon, Orsett,
              Purfleet, Romford, Stifford, Thurrock, Upminster.  We are proud to provide quality vehicle rental to our  local area. 
            Get A Rental Quote 
            Drivers Identification Required To Hire 
            Pay Dart Charge 
            Pay London Congestion Charge 
            Pay ULEZ Charge (Ultra Low Emmisions)       
        </p>
        <p>
            We have various sized cars and SUVs for hire, from a small compact car such as Vauxhall Corsa to a mid range Ford Focus,
             estate cars, SUVs or for the family we have 7 seat cars, 
            manual and automatic transmission, petrol and diesel engines
        </p>
    </div>
</div>
